:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-text-color: #ffffff;
  --background-icon-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section,
.section-team,
.section-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ШАПКА */

.header {
  border-bottom: 1px solid #ececec;
}
.header-content {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}

.logo-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.pages {
  display: flex;
}

.item + .item {
  margin-left: 50px;
}

.contacts-item + .contacts-item {
  margin-left: 30px;
}

.page-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.logo-web,
.page-link:hover,
.page-link:focus,
.page-link.current,
.contact-link:hover,
.contact-link:focus,
.contact-icon:hover,
.contact-icon:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

/* Падинги для удобного наведения */
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  fill: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button {
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  background-color: #188ce8;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-content {
  width: 270px;
}

.features-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-icon-color);
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section-works {
  padding-bottom: 94px;
}

.works {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-thumb {
  position: relative;
}

.work-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: #f5f4fa;
}

.team {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px;
  text-align: center;
}

.teammate {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.social-list {
  display: flex;
  margin-top: 16px;
}

.social-item + .social-item {
  margin-left: 10px;
}
.social-link-footer,
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer {
  fill: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover,
.social-link-footer:focus,
.social-link:hover,
.social-link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* заголовок, который нужно скрыть */
.hide {
  display: none;
}

.filters-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.button-item + .button-item {
  margin-left: 10px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--title-text-color);
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button + .filter-button {
  margin-left: 8px;
}

.filter-button.current,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.link-card {
  display: block;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-card:hover .project-overlay,
.link-card:focus .project-overlay {
  transform: translatey(0);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.link-card:focus,
.link-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-section {
  margin-top: 20px;
}

.address-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  width: 231px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address-link {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.social-list-footer {
  display: flex;
  margin-top: 20px;
  list-style: none;
}

.flex-subscribe {
  display: flex;
  align-items: flex-end;
}

.input-subscribe {
  width: 358px;
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subscribe:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.send-icon {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
}

.modal {
  position: absolute;
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.button-modal {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-style: none;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  fill: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-modal {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-modal:focus,
.input-modal:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.label-modal {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.input-section {
  position: relative;
}

.form-icon {
  position: absolute;
  transform: translateY(-50%);
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .form-icon {
  fill: var(--accent-color);
}

.comment-modal {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  height: 40px;
  border: 1px solid rgba(29, 19, 19, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}

.button-submit {
  display: flex;
  justify-content: center;
}
