.social-list {
  display: flex;
}

.social-list__item {
  margin-left: 10px;
}

.social-list__item:first-child {
  margin-left: 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}
